/*box-sizing fix*/
html {
  box-sizing: border-box;
  height:100%;
  width:100%;
  margin:0;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  height:100%;
  width:100%;
  margin: auto;
  background-color: black;
  font-family:"STARWARS";
}

/*--- header -------------------------------- */
header{
  background-color: black;
  color: white;
  text-align: center;
}

h1{
  font-size: 2.8em;
  line-height: 1em;
  padding: 0;
  margin: 0.2em 0 0 0;
}
header p{
  font-size: 1em;
  margin: 0 0 1em 0;
}

/*--- footer -------------------------------- */

footer{
  background-image: url('./images/castCall.jpg');
  background-repeat: repeat-x;
  height: 98px;
  width: 100%;
  text-align: center;
}

footer p{
  padding: 0.2em;
}

/*--- main div -------------------------------- */
main{
  display: flex;
  flex-direction: column;
  background-image: url('./images/starsWallPaper.gif');
  background-repeat: repeat;
  margin: 2em;
}

/*-------- score panel --------------------------- */
#scoresContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playerPanel{
  display: flex;
  width: 10%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 1em;
}

.inactive {
  opacity: 0.2;
}

.scores{
  display: flex;
  color: white;
  font-size: 3em;
  margin:0;
}

.icon{
  display: flex;
  height:3em;
}

#sponsorContainer{
  display: flex;
  flex-direction: column;
  width: 8%;
}

#sponsors{
  color: white;
  font-size: 1em;
  margin: 0;
}

#sponsorLogo{
  display:flex;
  width: 100%;
  height: auto;
}

/*-------- game body --------------------------- */

#gamePanel{
  width: 33%;
  border-radius: 100%;
  margin: 1% auto;
}

#gameBoard{
  margin: auto;
  background: rgba(100,100,100,0.2);
}

section{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: stretch;
  margin: auto;
}

.rowContainers{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: stretch;
}

.tiles{
  display: flex;
  width: 12.5%;
  padding-bottom: 12.5%;
  border: 1px solid rgba(255,255,255,0.3);
}

.player1tile{
  background-image: url('./images/alliance2.gif');
  background-size: cover;
}

.player2tile{
  background-image: url('./images/galacticEmpire.gif');
  background-size: cover;
}

.validP1Move:hover {
  background-image: url('./images/alliance2.gif');
  background-size: cover;
  background-color: rgba(255,150,150,0.5);
  /*opacity: 0.5;*/
}

.validP2Move:hover {
  background-image: url('./images/galacticEmpire.gif');
  background-size: cover;
  background-color: rgba(150,150,255,0.5);
  /*opacity: 0.5;*/
}

/*ipad landscape */
/*@media only screen and (max-width: 960px) {

}
*/
/* ipad portrait */
/*@media only screen and (max-width: 640px) {

}*/

/* 480px iphone landscape */
/*@media only screen and (max-width: 480px) {

}
*/

/* 320 px, iphone portrait */
/*@media only screen and (max-width: 320px) {

}
*/
